<cc-menu></cc-menu>

<cc-data-waiter></cc-data-waiter>

<div id="parent" *ngIf="dataService.dataReady" class="page-background dark-bg">
  <div>
    <div class="page-title">{{ title }}</div>

    <div class="page-blurb" [innerHTML]="'Camp Supplies Introduction' | blurb"></div>

    <ul>
      <li *ngFor="let i of dataService.requiredItems" [innerHTML]="i.item"></li>
    </ul>

    <div id="print">
      <a [routerLink]="['/print', 'required-items']" target="_blank">
        <button mat-raised-button color="primary">
          <mat-icon>print</mat-icon>
          Print
        </button>
      </a>
    </div>
  </div>
</div>
