<cc-menu></cc-menu>

<cc-data-waiter></cc-data-waiter>

<div id="parent" *ngIf="dataService.dataReady" class="page-background dark-bg">
  <div>
    <div class="page-title" (click)="editBlurb(blurbName)">{{ title }}</div>

    <div class="page-blurb" [innerHTML]="blurbName | blurb" (click)="editBlurb(blurbName)"></div>

    <div id="print">
      <a [routerLink]="['/print', 'prep']" target="_blank">
        <button mat-raised-button color="primary">
          <mat-icon>print</mat-icon>
          Print
        </button>
      </a>
    </div>
  </div>
</div>