<cc-menu></cc-menu>

<cc-data-waiter></cc-data-waiter>

<div id="parent" class="page-background" *ngIf="dataService.dataReady">
  <div>
    <div class="page-title" (click)="editBlurb(blurbName)" *ngFor="let category of dataService.donorCategories" [class.editable]="authenticationService.loggedIn">
      <mat-icon class="edit-icon" *ngIf="authenticationService.loggedIn">edit</mat-icon>
      {{ category.description }}
    </div>

    <div class="page-blurb" [innerHTML]="blurbName | blurb" (click)="editBlurb(blurbName)" [class.editable]="authenticationService.loggedIn"></div>

    <mat-accordion *ngFor="let level of dataService.donorLevels">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="category">
            {{ level.description }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="expansion-body" *ngFor="let donorCatLink of dataService.donorCatLinks | donorCatLinksInLevel:level">
          <a *ngIf="donorCatLink.donor.website" [href]="donorCatLink.donor.website" target="_blank">
              {{ donorCatLink.donor.name }}
          </a>
          
          <span *ngIf="!donorCatLink.donor.website">
              {{ donorCatLink.donor.name }}
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div (click)="editBlurb(blurbNameBottom)" [class.editable]="authenticationService.loggedIn">
        <mat-icon class="edit-icon" *ngIf="authenticationService.loggedIn">edit</mat-icon>
        <span [innerHTML]="blurbNameBottom | blurb"></span>
    </div>
  </div>
</div>