<cc-menu></cc-menu>

<cc-data-waiter></cc-data-waiter>

@if (dataService.dataReady) {
  <div id="parent" class="page-background">
    <div>
      <!-- (click)="editBlurb(blurbName)" [class.editable]="authenticationService.loggedIn" -->
      @for (category of dataService.donorCategories; track category) {
        <div class="page-title">
          <!--<mat-icon class="edit-icon" *ngIf="authenticationService.loggedIn">edit</mat-icon>-->
          {{ category.description }}
        </div>
      }
      <!-- (click)="editBlurb(blurbName)" [class.editable]="authenticationService.loggedIn" -->
      <div class="page-blurb" [innerHTML]="blurbName | blurb"></div>
      @for (level of dataService.donorLevels; track level) {
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title class="category">
                {{ level.description }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            @for (donorCatLink of dataService.donorCatLinks | donorCatLinksInLevel:level; track donorCatLink) {
              <div class="expansion-body">
                @if (donorCatLink.donor.website) {
                  <a [href]="donorCatLink.donor.website" target="_blank">
                    {{ donorCatLink.donor.name }}
                  </a>
                }
                @if (!donorCatLink.donor.website) {
                  <span>
                    {{ donorCatLink.donor.name }}
                  </span>
                }
              </div>
            }
          </mat-expansion-panel>
        </mat-accordion>
      }
      <!-- (click)="editBlurb(blurbNameBottom)" [class.editable]="authenticationService.loggedIn" -->
      <div>
        <!--<mat-icon class="edit-icon" *ngIf="authenticationService.loggedIn">edit</mat-icon>-->
        <span [innerHTML]="blurbNameBottom | blurb"></span>
      </div>
    </div>
  </div>
}