<cc-menu></cc-menu>

<cc-data-waiter></cc-data-waiter>

<div id="parent" *ngIf="dataService.dataReady" class="page-background dark-bg">
  <div>
    <div class="page-title" (click)="editBlurb(blurbName)" [class.editable]="authenticationService.loggedIn">
      <mat-icon class="edit-icon" *ngIf="authenticationService.loggedIn">edit</mat-icon>
      {{ title }}
    </div>

    <div class="page-blurb" [innerHTML]="blurbName | blurb" (click)="editBlurb(blurbName)" [class.editable]="authenticationService.loggedIn"></div>

    <div id="coh" class="call-out" (click)="editBlurb(blurbNameCoh)" [class.editable]="authenticationService.loggedIn">
      <mat-icon class="edit-icon" *ngIf="authenticationService.loggedIn">edit</mat-icon>
      <span [innerHTML]="blurbNameCoh | blurb"></span>
    </div>

    <div id="print">
      <a [routerLink]="['/print', 'coh']" target="_blank">
        <button mat-raised-button color="primary">
          <mat-icon>print</mat-icon>
          Print
        </button>
      </a>
    </div>
  </div>
</div>
