<!-- C:\Users\rullo\Documents\Old Docs\Visual Studio 2010\Projects\CampCadet - Downloaded Feb 2015\wwwroot\Images -->
<!-- C:\Users\rullo\OneDrive\Pictures\Camp Cadet 2017 -->

<cc-carousel></cc-carousel>
<div id="badge">
    <img src="http://localhost:64476/images/badge.png" alt="">
</div>

<cc-call-of-honor></cc-call-of-honor>
<cc-rules></cc-rules>
<cc-preparation></cc-preparation>
<cc-what-is-camp-cadet></cc-what-is-camp-cadet>
<cc-eligibility></cc-eligibility>
<cc-required-items></cc-required-items>