<cc-menu></cc-menu>

<cc-data-waiter></cc-data-waiter>

@if (dataService.dataReady) {
  <div id="parent" class="page-background dark-bg">
    <div>
      <div class="page-title">Common Questions</div>
      @for (category of dataService.faqCategories; track category) {
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title class="category">
                {{ category.description }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div [id]="'accordion' + category.id">
              <!-- Questions -->
              @for (faq of dataService.faqs | faqForCategory:category; track faq) {
                <div class="card">
                  <div class="card-header" [id]="'question' + faq.id">
                    <div data-toggle="collapse" aria-expanded="false"
                      [attr.aria-controls]="'answer' + category.id + '_' + faq.id"
                      [attr.data-target]="'#answer' + category.id + '_' + faq.id">
                      {{ faq.question }}
                    </div>
                  </div>
                  <!-- Answers -->
                  <div class="collapse"
                    [id]="'answer' + category.id + '_' + faq.id"
                    [attr.data-parent]="'#accordion' + category.id"
                    [attr.aria-labelledby]="'question' + faq.id">
                    <div class="card-body" [innerHTML]="faq.answer">
                    </div>
                  </div>
                </div>
              }
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      }
      <div id="print">
        <a [routerLink]="['/print', 'faq']" target="_blank">
          <button mat-raised-button color="primary">
            <mat-icon>print</mat-icon>
            Print
          </button>
        </a>
      </div>
    </div>
  </div>
}