<cc-data-waiter></cc-data-waiter>

@if (dataService.dataReady) {
  <div id="print-parent">
    @switch (topic) {
      @case ('coh') {
        <div>
          <div class="title">Camp Cadet Call of Honor</div>
          <div [innerHTML]="'Call of Honor' | blurb"></div>
        </div>
      }
      @case ('faq') {
        <div>
          <div class="title">Common Questions</div>
          @for (category of dataService.faqCategories; track category) {
            <div class="faq">
              <div class="faq-category">{{ category.description }}</div>
              @for (faq of dataService.faqs | faqForCategory:category; track faq) {
                <div>
                  <div class="faq-question">{{ faq.question }}</div>
                  <div class="faq-answer" [innerHTML]="faq.answer"></div>
                </div>
              }
            </div>
          }
        </div>
      }
      @case ('prep') {
        <div>
          <div class="title">Preparing for Camp Cadet</div>
          <div [innerHTML]="'Camp Preparation' | blurb"></div>
        </div>
      }
      @case ('enrollment') {
        <div>
          <div class="title">Camp Cadet Enrollment</div>
          <div [innerHTML]="'Sign Up' | blurb"></div>
        </div>
      }
      @case ('rules') {
        <div>
          <div class="title">Camp Cadet Rules</div>
          <div class="page-blurb" [innerHTML]="'Camp Rules Introduction' | blurb"></div>
          <!--<ul>
          <li *ngFor="let i of dataService.rules" [innerHTML]="i.description"></li>
        </ul>-->
      </div>
    }
    @case ('required-items') {
      <div>
        <div class="title">Camp Cadet Required Items</div>
        <div class="page-blurb" [innerHTML]="'Camp Supplies Introduction' | blurb"></div>
        <!--<ul>
        <li *ngFor="let i of dataService.requiredItems" [innerHTML]="i.item"></li>
      </ul>-->
    </div>
  }
}
</div>
}