<cc-menu></cc-menu>

<cc-data-waiter></cc-data-waiter>

<div id="parent" *ngIf="dataService.dataReady" class="page-background dark-bg">
  <div>
    <div class="page-title" (click)="editBlurb(blurbName)" [class.editable]="authenticationService.loggedIn">
      <mat-icon class="edit-icon" *ngIf="authenticationService.loggedIn">edit</mat-icon>
      {{ title }}
    </div>

    <div class="page-blurb" [innerHTML]="blurbName | blurb" (click)="editBlurb(blurbName)" [class.editable]="authenticationService.loggedIn"></div>

    <div id="iframe-wrapper">
      <iframe src="https://www.youtube.com/embed/drmwqgEWTdI?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
